<div class="p5">
  <div class="container">
    <div>
      <h1>Financial Transactions</h1>
      <hr class="mt-5 mb-5">

      <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h3 id="errorMessages">Oops! something didn't work:</h3>
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>

      <div class="row">
        <app-import-transactions-file
          (complete)="reload($event)"
          (completeWithErrors)="showErrors($event)"></app-import-transactions-file>
      </div>
      <div class="row">
        <ng-container>

          <p *ngIf="(!financialTransactions || (financialTransactions && financialTransactions.length == 0))">
            <ngb-alert [type]="alertType" [dismissible]="false">
              There are no transaction imported.
            </ngb-alert>
          </p>

          <table class="table table-hover" *ngIf="(financialTransactions && financialTransactions.length > 0)">
            <tr>
              <th scope="col">Seller Name</th>
              <th scope="col">Total Value</th>
              <th></th>
            </tr>
            <tbody *ngFor="let transaction of financialTransactions">
              <tr>
                <td> {{transaction.sellerName}}</td>
                <td> {{transaction.total | currency:'BRL':'symbol':'1.2-2'}}</td>
                <td>
                  <app-transaction-details [financialTransactionDetails]="transaction.details"></app-transaction-details>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>
      </div>
    </div>
  </div>
</div>
