<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Upload transactions file</h4>
	</div>
	<div class="modal-body">
    <ng-container>
      <div class="row mb-5">
        <input class="form-control" type="file" #fileInput (change)="onChange(fileInput.files)">
      </div>
      <div class="row">
        <button [disabled]="disableUploadButton()" (click)="uploadFile()" class="btn btn-success">Upload</button>
      </div>
    </ng-container>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-light" (click)="closeModal()">Close</button>
	</div>
</ng-template>

<div class="row ml-5 mb-5 align-right">
    <button class="btn btn-outline-dark" (click)="openModal(content)">Upload transactions file</button>
</div>
